
.dosage-cell {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

.dosage-time {
    color: black;
    font-size: 1.1em;
    /* No Mouse Plz :3 */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.dosage-indicator { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1em;
    border: 1px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    border-style: solid;
}

.dosage-given {
    background-color: var(--positive);
}

.dosage-pending {
    background-color: var(--negative);
}

.delete-button {
    cursor: pointer;
}
