
.table-container {
    padding: 2em;
}

.table-container > * {
    /* TODO: I really don't like this forced style just for the table headers. If we can get bootstrap to behave then we don't need this */
    /* color: aliceblue !important; */
}

.date-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.day-date-header {
    color: var(--text-dark);
}

thead > th:not(:first-child) {
    padding-left: var(--column-spacing);
}

thead > th:first-child {
    padding-right: var(--first-column-spacing);
}

#footer-controls {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1400px) {
    .date-header {
        flex-direction: column;
    }    
}