
.table-container {
    padding: 2em;
}

.table-container > * {
    /* TODO: I really don't like this forced style just for the table headers. If we can get bootstrap to behave then we don't need this */
    /* color: aliceblue !important; */
}

thead > th:not(:first-child) {
    padding-left: var(--column-spacing);
}

thead > th:first-child {
    padding-right: var(--first-column-spacing);
}