
.treatment-cell {
    padding: 0 !important;
}

.treatment-list {
    overflow-y: scroll;
    padding: 0 !important;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.treatment-list::-webkit-scrollbar {
    display: none;
}

.add-treatment-entry {
    display: flex;
    justify-content: center;
    /* padding: 5px 10px 0 10px; */
}

.add-treatment-input {
    /* height: 2em; */
    /* margin: 5px 10px 0 10px; */
    width: 100%;
    /* transition: 1s all ease-in-out; Use this when we have all the other styling ok */
}

.add-treatment-button {
    padding: 5px 0 10px 0;
    text-align: center;
    transition: 0.2s all ease-in-out;
    width: 100%;
}
