#paginator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: aliceblue;
    width: 30vw;
    margin: auto;
}

#date-info {
    font-size: large;
    justify-self: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.week-day-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.week-day-nav:hover {
    cursor: pointer;
}

.week-day-nav > * {
    font-size: xx-large;
}