body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--general-background) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --general-background: #068DA9;
  --general-light: #ECF8F9;
  --positive: #BFDB38;
  --negative: #FC7300;
  --text-dark: 'black';
  --text-light: 'aliceblue';
  --column-spacing: 5px;
  --first-column-spacing: 40px
}

::placeholder {
  opacity: 1;
}